<div mat-dialog-title>
    <h1>Resource Form</h1>
</div>
<form [formGroup]="resForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline"><mat-label>Resclas</mat-label>
            <input matInput type="text" placeholder="Ex. APPCL" formControlName="resclas">
            </mat-form-field>

        <mat-form-field appearance="outline"><mat-label>Owner</mat-label>
            <input matInput placeholder="Ex. AUTO" formControlName="owner">
            </mat-form-field>
    </div>

    <div class="row">

        <mat-form-field appearance="outline"> 
            <mat-label>Last Updated</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>
    </div>

    <div class="row">
    <mat-radio-group aria-label="Select an option" formControlName="active">
        <mat-label><b>Active</b></mat-label>
        <mat-radio-button value="Y">Y</mat-radio-button>
        <mat-radio-button value="N">N</mat-radio-button>
    </mat-radio-group>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Disable Environment</mat-label>
            <mat-select formControlName="environment">
                <mat-option *ngFor="let val of environment" [value]="val">
                        {{val}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
                <mat-label>Updated By</mat-label>
                <input matInput placeholder="Ex. Ethan" formControlName="updated">
        </mat-form-field>
    </div>

</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
</div>
</form>
